In [1]:
import numpy as np
import pandas as pd
import dask
import boto3
import os
import io
import dask.dataframe as dd
import s3fs
import pyarrow

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# insert your access key credentials
os.environ["AWS_ACCESS_KEY_ID"] = "AKIAJXR3B3HLASMUO2HQ"
os.environ["AWS_SECRET_ACCESS_KEY"] = "kub4aTLuSdlSQwprtpT4hPciYXvFQlfGGO/V5/eg"

In [3]:
# test pandas file 
%time
s3 = boto3.client('s3')
bucket='datathon-2018'
key='raw/MelbDatathon2018/Samp_0/ScanOnTransaction/2015/Week27/QID3530815_20180713_20515_0.txt.gz'
obj = s3.get_object(Bucket=bucket, Key=key)
df = pd.read_csv(io.BytesIO(obj['Body'].read()),compression='gzip')

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 6.2 µs

In [4]:
%time
df.head()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 5.72 µs

  1|2015-07-02|2015-07-02 13:08:13|1524480|9|1222|415|10883|15084
0  3|2015-07-02|2015-07-02 07:33:58|1756270|2|109...
1  1|2015-07-02|2015-07-02 16:42:38|10560630|2|14...
2  1|2015-07-01|2015-07-01 11:07:08|11812440|2|28...
3  1|2015-07-01|2015-07-01 17:28:14|12272500|2|28...
4  1|2015-07-03|2015-07-03 18:08:59|10806820|2|22...

In [5]:
len(df) #368226

368266

In [6]:
# tests dask dataframe read
%time
df=dd.read_parquet('s3://datathon-2018/parquet/taps/2015_week27.parquet')
len(df) #1,287,268

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 5.96 µs

In [11]:
df=dd.read_parquet('s3://datathon-2018/parquet/taps/2015_week2*.parquet')
len(df) # 5,666,495

In [13]:
df=dd.read_parquet('s3://datathon-2018/parquet/taps/*.parquet')

In [15]:
df.head()

,index,mode,business_date,datetime,card_id,card_type,vehicle_id,parent_route,route_id,stop_id,tap
0,0,1,2015-07-02,2015-07-02 13:08:13,1524480,9,1222,415,10883,15084,on
1,1,3,2015-07-02,2015-07-02 07:33:58,1756270,2,1091,24,15296,18566,on
2,2,1,2015-07-02,2015-07-02 16:42:38,10560630,2,1469,862,10227,19824,on
3,3,1,2015-07-01,2015-07-01 11:07:08,11812440,2,2886,458,8591,21184,on
4,4,1,2015-07-01,2015-07-01 17:28:14,12272500,2,2853,670,16447,21296,on

In [18]:
df=df.set_index('datetime')

KeyboardInterrupt:

In [ ]:
df=df.groupby(df.card_type).size().compute()

In [ ]:
# persist dataframe to cluster 
df = df.persist()
progress(df)

Read in  dataframe from parquet files in s3

In [8]:
# test file
bucket_name='datathon-2018'

s3 = boto3.resource('s3')
bucket=s3.Bucket(bucket_name)
file_list_on=[]
file_list=[obj.key for obj in bucket.objects.filter(Prefix='parquet/taps') if obj.key.endswith(".parquet")]

In [9]:
len(file_list)

157

In [10]:
file_list[1]

'parquet/taps/2015_week28.parquet'

In [ ]:
%%time
bucket_name='s3://datathon-2018/'
df_taps = pd.concat([pd.read_parquet(bucket_name+f) for f in file_list])

In [1]:
len(df_taps)

NameError: name 'df_taps' is not defined

157