In [1]:
import pandas as pd

In [2]:
import boto3

In [8]:
import os
import io

In [9]:
# insert your access key credentials
os.environ["AWS_ACCESS_KEY_ID"] = "xxxxxx"
os.environ["AWS_SECRET_ACCESS_KEY"] = "xxxxxx"

In [13]:
# test file
s3 = boto3.client('s3')
bucket='datathon-2018'
key='raw/MelbDatathon2018/Samp_0/ScanOnTransaction/2015/Week27/QID3530815_20180713_20515_0.txt.gz'
obj = s3.get_object(Bucket=bucket, Key=key)

In [14]:
df = pd.read_csv(io.BytesIO(obj['Body'].read()),compression='gzip')

In [15]:
df.head()

  1|2015-07-02|2015-07-02 13:08:13|1524480|9|1222|415|10883|15084
0  3|2015-07-02|2015-07-02 07:33:58|1756270|2|109...
1  1|2015-07-02|2015-07-02 16:42:38|10560630|2|14...
2  1|2015-07-01|2015-07-01 11:07:08|11812440|2|28...
3  1|2015-07-01|2015-07-01 17:28:14|12272500|2|28...
4  1|2015-07-03|2015-07-03 18:08:59|10806820|2|22...